@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<<<<<<< HEAD
    <h1 class="display-4">Welcome Web Stage, this is a dotnet web application!</h1>
=======
    <h1 class="display-4">Welcome Prod Web, this is a dotnet web application!</h1>
>>>>>>> 3fe8cefb43c44275fa70b7170f897c2136101382
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
